.pl-0 {
	padding-left: 0 !important;
}

.pr-0 {
	padding-right: 0 !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.pt-0 {
	padding-top: 0 !important;
}

.px-0 {
	@extend .pr-0;
	@extend .pl-0;
}

.py-0 {
	@extend .pt-0;
	@extend .pb-0;
}
