.article-card {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 325px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
	overflow: hidden;
	border-radius: 13px;
	display: inline-block;
	text-decoration: none;

	&__image {
		border-radius: 8px 8px 1000px / 150px;
		height: 203px;
		width: 100%;
	}

	&__meta {
		padding: 16px 20px;
	}

	&__icon-box {
		box-sizing: border-box;
		width: 50px;
		height: 50px;	
		margin-bottom: 14px;
		border-radius: 1000px;
		text-align: center;
		z-index: 2;

		& img {
			padding: 20%;
		}
	}

	&__heading {
		font-size: 22px;
		line-height: 1.2;
	}

	&__blurb {
		font-size: 16px;
		padding-bottom: 12px;
		color: inherit;
	}

	&__date {
		display: inline-block;
		font-size: 14px;
    margin-right: auto;
		text-transform: uppercase;
	}

	&__action {
		text-align: right;
		font-weight: bold;
		color: $secondary-color;
	}

	&:hover {
		.article-card {
			&__action {
				text-decoration: underline;
			}
		}
	}
}


.article-card--blog {
	.article-card{
		&__icon-box {
			background-color: #ffb800;
		}
	}
}

.article-card--resources {
	background-color: #ffe9f8;

	.article-card {
		&__icon-box {
			background-color: $secondary-color;
		}
	}
}

.article-card--news {
	background-color: #007795;
	color: #fff;

	.article-card{
		&__icon-box {
			background-color: #6cc5d5;
		}

		&__date {
			color: #fff;
		}

		&__action {
			color: #fff;
		}
	}
}