table.button.white table td {
	background-color: #fff;
}

table.button table td a {
	font-family: $header-font-family;
	text-align: center;
}

table.button.secondary {
	&, &:hover, &:active {
		table tr {
			td, a, a:visited, td a {
				color: #fff;
			}
		}
	}
}

table.button.secondary.white {
	&, &:hover, &:active {
		table tr {
			td, a, a:visited, td a {
				color: $secondary-color;
			}
		}
	}
}

table.button.large table a {
	padding: 13px 46px;
	font-size: 18px;
}

.button__image {
	float: left;
	margin-right: 18px;
	max-width: 24px;
	vertical-align: middle;
}
