.centre-cards-row {
	margin: 0 auto;
	max-width: 700px;
}

.centre-card {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 325px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
	overflow: hidden;
	border-radius: 13px;
	display: inline-block;
	
	&__link {
		display: block;
		text-decoration: none;
	}

	&__image {
		border-radius: 8px 8px 0 0;
		height: 203px;
		width: 100%;
	}

	&__meta {
		padding: 16px 20px;
	}

	&__heading {
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 4px;
	}

	&__address {
		font-size: 14px;
		color: #747474;
	}

	&__stars {
		display: inline-block;

		img {
			display: inline-block;
			width: 19px;
			height: 18px;
			margin-bottom: -2px;
		}
	}

	&__rating-number {
		margin-left: 8px;
	}
	
	&__action {
		background-color: $secondary-color;
		padding: 8px 20px;

		.button {
			margin-bottom: 0;
			text-align: center;

			a {
				box-sizing: border-box;
			}
		}
	}
}
