.centre {
  th {
    vertical-align: middle;
  }
}

.centre-heading {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
}

.centre-address {
  font-size: 14px;
  color: #747474;
}

.centre-image {
  @media only screen and (min-width: #{$global-breakpoint}) {
    float: right;
    text-align: right;
  }
}

.hr-light {
  border-color: #dfdfdf;
}