.details-heading {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: $body-font-family;
	color: $secondary-color;
	padding-top: 8px;
	padding-bottom: 16px;
	margin-bottom: 0;
}

.details-grid {
	& > table > tbody > tr {
		vertical-align: bottom;

		& > th {
			padding-top: 14px;
			padding-bottom: 14px;
			border-bottom: 1px solid #dfdfdf;
		}

		& > .first th {
			text-transform: uppercase;
			padding-right: 2rem;
		}

		& > .last th {
			font-weight: bold;
			text-align: right;
			word-break: break-word;
		}
	}

	& > table.details-row-last > tbody > tr > th {
		border-bottom: none;
	}

	& > table.details-row-single > tbody > tr > th {
		border-top: 1px solid #dfdfdf;
	}
}
