.footer {
	.links-row {
		text-align: center;

		a {
			display: inline-block;
			color: #545454;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.socials-row {
		text-align: center;

		a {
			display: inline-block;
			padding-left: 6px;
			padding-right: 6px;
			width: 50px;
			height: 50px;
		}
	}

	.copyright {
		text-align: center;
		color: #545454;
	}
}
