.notification {
	background: $primary-color;

	.wrapper-inner {
		color: $white;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
		font-size: 20px;

		a {
			color: $white;
			font-weight: bold;
		}
	}
}

.notification--yellow {
	background-color: $warning-color;
}

.notification--short {
	.wrapper-inner {
		padding-top: 6px;
		padding-bottom: 6px;
	}
}