.reminder {
	&__top-section {
		.section-padding {
			.wrapper-inner {
				@media only screen and (min-width: #{$global-breakpoint}) {
					padding-left: 45px !important;
					padding-right: 45px !important;
				}
			}
		}
	}

	&__heading {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	&__description {
		hyphens: initial;
		font-size: 18px;
		max-width: 420px;
		font-weight: 500;

		&.bold {
			font-weight: 600;
			font-size: 16px;
		}
	}

	&__amount {
		color: $primary-color;
		font-size: 30px;
		font-weight: 600;
		font-family: $header-font-family;
	}

	&__line {
		height: 16px;
	}

	&__search-img {
		margin-left: auto;
		margin-right: auto;
		margin-top: 260px;
	}

	&__question-img {
		margin-top: 140px;
	}
}

.enquiry-item {
	border-bottom: 1px solid #dfdfdf;
	padding-top: 22px;
	padding-bottom: 10px;

	&:first-child {
		border-top: 1px solid #dfdfdf;
	}

	&__heading {
		font-family: $body-font-family;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}

	table.button.large table a {
		font-size: 18px;
	}
}

.faq-section {
	&__description {
		max-width: 290px;

		@media only screen and (min-width: #{$global-breakpoint}) {
			min-height: 88px;
		}
	}

	.section-padding {
		.heading {
			padding-top: 40px;
		}

		.wrapper-inner {
			padding-top: 0;

			@media only screen and (min-width: #{$global-breakpoint}) {
				padding-top: 0 !important;
			}
		}
	}
}
