.report {
  &__heading {
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__cat-heading {
    padding-top: 100px;
    padding-bottom: 10px;
    background-image: url('https://toddle.com.au/assets/images/email/cat.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center 10px;

		@media only screen and (max-width: #{$global-breakpoint}) {
      padding-top: 20px !important;
      background-image: none !important;
		}
  }
}