table.body .logo {
	width: 99px;
	height: 62px;
}

.section {
	background: #fff;
	border-radius: 22px;
	overflow: hidden;
}

.section--primary {
	background: $primary-color;
}

.section--yellow {
	background: $warning-color;
}

.section--dark-blue {
	background: $primary-color-darkest;

	td {
		color: #fff;
	}

	.heading, p {
		color: inherit;
	}
}

.section--blue {
	background: $primary-color-dark;

	td {
		color: #fff;
	}

	.heading, p {
		color: inherit;
	}
}

.section-padding {
	.wrapper-inner {
		padding: 40px;

		@media only screen and (min-width: #{$global-breakpoint}) {
			padding: 40px 90px !important;
		}

		.wrapper-inner {
			padding: 0;
		}
	}
}

.heading {
	color: $primary-color-darkest;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.2;
	hyphens: initial;
}

.subheading {
	font-size: 18px;
	color: #777;
}

.caption {
	font-size: 20px;
	font-weight: 500;
}

.description {
	max-width: 365px;
	hyphens: initial;
}

.centred {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.section-enquiry-top {
	.section-padding {
		.wrapper-inner {
			@media only screen and (min-width: #{$global-breakpoint}) {
				padding: 40px 40px 40px 90px !important;
			}
		}
	}
}

.section-blog {
	.heading {
		color: #fff;
	}

	.subheading {
		text-align: center;
		color: #ffffff;
		margin-bottom: 4px;
	}
}
