<spacer size="70"></spacer>

<container>

	<wrapper class="section section-enquiry-top">
		<row>
			<columns large="8">
				<wrapper class="section-padding">
					<img class="logo" src="https://toddle.com.au/assets/images/email/logo.png" width="99" height="62" alt="">
					<spacer size="26"></spacer>
					<h2 class="heading">
						Thank you, Parent! </br>
						Your enquiry has been sent to:
					</h2>
					<spacer size="10"></spacer>
					<hr/>

					<!-- 
					<spacer size="26"></spacer>
					<p class="description">
						Jane Smith is waiting for your reply.
						<br/>
						Please try to get back to Jane
						<strong>within 48 hours</strong>
						by replying to this email directly.
					</p>
					-->

					<row class="centre">
						<columns large="8">
							<spacer size="28"></spacer>
							<h4 class="centre-heading">
								Chifley Early Learning Sanctuary
							</h4>
							<p class="centre-address">
								203 Darley Road, Randwick
							</p>
						</columns>
						<columns large="4">
							<!-- <img 
								class="centre-image" 
								src="https://media.toddle.com.au/_versions/media/services/11702/logo_11702_logo_logo_desktop.jpg" 
								alt=""
							> -->
						</columns>
					</row>
				</wrapper>
			</columns>
			<columns class="px-0 py-0 show-for-large" large="5">
				<img class="float-right" src="https://toddle.com.au/assets/images/email/bg.jpg" width="362" height="423" alt="">
			</columns>
		</row>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section">
		<wrapper class="section-padding">
			<h2 class="heading text-center">
				Other parents are also enquiring about these nearby centres:
			</h2>
			<spacer size="15"></spacer>

			<p class="subheading text-center">
				Click 'Enquire Now' to send the same enquiry to these centres
			</p>

			<spacer size="15"></spacer>

			<row class="centre-cards-row">
				<columns large="6" style="padding-left:25px;padding-right:25px;" class="text-center">
					<center>
						{{> centre-card}}
					</center>
				</columns>
				<columns large="6" style="padding-left:25px;padding-right:25px;" class="text-center">
					<center>
						{{> centre-card}}
					</center>
				</columns>
			</row>

			<spacer size="40"></spacer>

			<center>
				<button class="button rounded large" href="#" target="_blank">
					See more <span class="arrow">›</span>
				</button>
			</center>
		</wrapper>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section section-blog">
		<wrapper class="notification notification--yellow">
			<h2 class="heading text-center">
				The Corkboard
			</h2>
			<p class="subheading">
				Our hub for all child care news, tips and support
			</p>
		</wrapper>

		<wrapper class="section-padding">

			<row class="centre-cards-row">
				<columns large="6" style="padding-left:25px;padding-right:25px;" class="text-center">
					<center>
						{{> article-card}}
					</center>
				</columns>
				<columns large="6" style="padding-left:25px;padding-right:25px;" class="text-center">
					<center>
						{{> article-card}}
					</center>
				</columns>
			</row>

			<spacer size="40"></spacer>

			<center>
				<button class="button rounded large" href="#" target="_blank">
					See more <span class="arrow">›</span>
				</button>
			</center>
		</wrapper>
	</wrapper>

	{{> footer}}

</container>

<spacer size="100"></spacer>
