<spacer size="70"></spacer>

<container>

	<wrapper class="section">
		<row>
			<columns large="8">
				<wrapper class="section-padding">
					<img class="logo" src="https://toddle.com.au/assets/images/email/logo.png" width="99" height="62" alt="">
					<spacer size="26"></spacer>
					<h2 class="heading">
						You have a new
						<br/>
						Toddle enquiry!
					</h2>
					<spacer size="10"></spacer>
					<hr/>

					<!-- -->
					<spacer size="26"></spacer>
					<p class="description">
						Jane Smith is waiting for your reply.
						<br/>
						Please try to get back to Jane
						<strong>within 48 hours</strong>
						by replying to this email directly.
					</p>
					<!-- -->

					<row class="centre">
						<columns large="8">
							<spacer size="26"></spacer>
							<h4 class="centre-heading">
								Chifley Early Learning Sanctuary
							</h4>
							<p class="centre-address">
								203 Darley Road, Randwick
							</p>
						</columns>
						<columns large="4">
							<img class="centre-image" src="https://toddle.com.au/assets/images/centres/logos/theLearningSanctuary.png" width="125" height="125" alt="">
						</columns>
					</row>
				</wrapper>
			</columns>
			<columns class="px-0 py-0 show-for-large" large="5">
				<img class="float-right" src="https://toddle.com.au/assets/images/email/bg.jpg" width="362" height="423" alt="">
			</columns>
		</row>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section section-padding">
		<h2 class="heading">
			Enquiring To:
		</h2>

		<spacer size="15"></spacer>
		<row class="centre">
			<columns large="8">
				<h4 class="centre-heading">
					Chifley Early Learning Sanctuary
				</h4>
				<p class="centre-address">
					203 Darley Road, Randwick
				</p>
			</columns>
			<columns large="4">
				<img class="centre-image" src="https://toddle.com.au/assets/images/centres/logos/theLearningSanctuary.png" width="125" height="125" alt="">
			</columns>
		</row>
		<spacer size="15"></spacer>
		<hr class="hr-light"/>

		<spacer size="15"></spacer>
		<row class="centre">
			<columns large="8">
				<spacer size="26"></spacer>
				<h4 class="centre-heading">
					Chifley Early Learning Sanctuary
				</h4>
				<p class="centre-address">
					203 Darley Road, Randwick
				</p>
			</columns>
			<columns large="4">
				<img class="centre-image" src="https://toddle.com.au/assets/images/centres/logos/theLearningSanctuary.png" width="125" height="125" alt="">
			</columns>
		</row>
		<spacer size="15"></spacer>
		<hr class="hr-light"/>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section section-padding">
		<h2 class="heading">
			Enquiry Details:
		</h2>

		<div id="jojo"></div>
		<spacer size="20"></spacer>
		<div class="details-grid">
			<row class="details-row-single">
				<columns small="6">
					Enquiring about
				</columns>
				<columns small="6">
					Book a visit, Availability, Other
				</columns>
			</row>
		</div>
		<spacer size="50"></spacer>
		<div id="mojo"></div>


		{{> child}}
		<spacer size="60"></spacer>
		{{> child}}
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section">
		<wrapper class="section-padding">
			<h2 class="heading">
				Contact Details
			</h2>
			<div class="details">
				{{> parent}}
			</div>

		</wrapper>

		<spacer size="20"></spacer>

		<wrapper class="notification">
			Questions about this enquiry? Drop us a line -
			<a href="mailto:hello@toddle.com.au">hello@toddle.com.au</a>
		</wrapper>
	</wrapper>

	{{> footer}}

</container>

<spacer size="100"></spacer>
