<spacer size="70"></spacer>

<container>

	<wrapper class="section">
		<row>
			<columns large="6">
				<wrapper class="section-padding">
					<img class="logo" src="https://toddle.com.au/assets/images/email/logo.png" width="99" height="62" alt="">
					<spacer size="26"></spacer>
					<h2 class="heading">
						Thank you for confirming your
						<br>
						FREE upgrade!
					</h2>

					<!-- -->
					<spacer size="26"></spacer>
					<p class="description">
						You have accepted our
						<a href="https://toddle.com.au/assets/downloads/Content_licence_agreement_for_listing_on_Toddle_Basic_Plus_level.pdf">content agreement</a>
						. Your centre(s) will continue to benefit from showcasing custom content.
					</p>
					<!-- -->
				</wrapper>
			</columns>
			<columns class="px-0 py-0 show-for-large" large="6">
				<img class="float-right" src="https://toddle.com.au/assets/images/email/register.jpg" width="480" height="423" alt="">
			</columns>
		</row>
		<wrapper class="notification">
			Questions about your centre listing? Drop us a line -
			<a href="mailto:hello@toddle.com.au">hello@toddle.com.au</a>
		</wrapper>
	</wrapper>

</container>

<spacer size="100"></spacer>
