---
subject: Reminder꞉ Robert is waiting for you to respond!
---

<spacer size="70"></spacer>

<container>

	<wrapper class="section reminder__top-section">
		<wrapper class="notification notification--short"></wrapper>

		<wrapper class="section-padding">
			<spacer size="10"></spacer>
			<center>
				<img class="logo" src="https://toddle.com.au/assets/images/email/logo.png" width="99" height="62" alt="">
			</center>
			<spacer size="30"></spacer>

			<h2 class="heading reminder__heading">
				Don’t forget to respond to [PARENT’S FIRST NAME]’s enquiry!
			</h2>

			<spacer size="26"></spacer>

			<row>
				<columns large="1"></columns>
				<columns large="6">
					<spacer size="24"></spacer>
					<p class="description reminder__description">
						Robert Smith is still waiting to hear from you about the child care enquiry sent [CENTRE NAME] on [DATE FIRST ENQUIRY WAS SENT].
					</p>
					<spacer size="8"></spacer>
					<p class="reminder__description bold">
						Please get back to them as soon as possible by replying to this email directly. 
					</p>
					<spacer size="28"></spacer>
					<button class="button rounded large" href="#" target="_blank">
						<img src="https://toddle.com.au/assets/images/email/reply.png" alt="" class="button__image">
						Reply to Robert
					</button>
				</columns>
				<columns large="3">
					<img src="https://toddle.com.au/assets/images/email/question.png" alt="" class="reminder__question-img show-for-large" style="margin-top: 0;">
				</columns>
				<columns large="1"></columns>
			</row>
			<spacer size="16"></spacer>
		</wrapper>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section">
		<wrapper class="section-padding">
			<h2 class="heading">
				Enquiry Details:
			</h2>
			<spacer size="10"></spacer>
			{{> child}}
			<spacer size="60"></spacer>
			{{> child}}
			<spacer size="60"></spacer>
			<div class="details">
				<h3 class="details-heading">
					Contact details
				</h3>
				{{> parent}}
			</div>
			<spacer size="16"></spacer>
		</wrapper>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section faq-section">
		<wrapper class="section-padding">
			<row>
				<columns large="6">
					<center>
						<h2 class="heading text-center">
							What’s Toddle?
						</h2>
						<spacer size="20"></spacer>
						<p class="text-center faq-section__description">
							We are the most comprehensive centre-based childcare finder in Australia on a mission to make parents’ lives easier.
						</p>
						<spacer size="20"></spacer>
						<button class="button rounded large" href="//toddle.com.au/about" target="_blank">
							Learn more about Toddle
						</button>
					</center>
				</columns>
				<columns large="6">
					<center>
						<h2 class="heading text-center">
							Any questions?
						</h2>
						<spacer size="20"></spacer>
						<p class="text-center faq-section__description">
							Learn how we can help your centre or find out more about enquiries.
						</p>
						<spacer size="20"></spacer>
						<button class="button rounded large" href="mailto:hello@toddle.com.au" target="_blank">
							<img src="https://toddle.com.au/assets/images/email/envelope.png" alt="" class="button__image" style="margin-top: 2px;">
							Drop us a line
						</button>
					</center>
				</columns>
			</row>
		</wrapper>
	</wrapper>

	<wrapper>
		<spacer size="26"></spacer>
		<center>
			<p class="text-center" style="color: #818181;">
				Sent with love from Team Toddle. 
			</p>
			<a href="//toddle.com.au/unsubscribe/reminders/eb727e3f-81b4-4d28-877b-422456850388" style="color: #004a5d;">
				Don’t want to receive reminder emails?
			</a>
		</center>
	</wrapper>

</container>

<spacer size="100"></spacer>
