---
subject: Reminder꞉ Did you respond to all of your Toddle enquiries?
---

<spacer size="70"></spacer>

<container>

	<wrapper class="section reminder__top-section">
		<wrapper class="notification notification--short"></wrapper>

		<wrapper class="section-padding">
			<row>
				<columns large="3">
					<img src="https://toddle.com.au/assets/images/email/search.png" alt="" height="110" class="reminder__search-img show-for-large">
				</columns>
				<columns large="6">
					<spacer size="10"></spacer>
					<center>
						<img class="logo" src="https://toddle.com.au/assets/images/email/logo.png" width="99" height="62" alt="">
					</center>
					<spacer size="30"></spacer>

					<h2 class="heading reminder__heading">
						Just a little reminder to respond to your Toddle enquiries!
					</h2>

					<!-- -->
					<spacer size="26"></spacer>
					<center>
						<span class="description reminder__description text-center">
							This week you’ve had
						</span>
						<spacer size="8"></spacer>

						<div class="reminder__amount">
							5 enquiries
						</div>
						<img src="https://toddle.com.au/assets/images/email/line.png" alt="" height="16" class="reminder__line">

						<spacer size="38"></spacer>
						<p class="description reminder__description text-center">
							We’ve noticed that some of them haven’t been answered. Please make sure your team gets back to the parents by replying to their individual Toddle enquiries directly.
						</p>
						<spacer size="8"></spacer>
					</center>
				</columns>
				<columns large="3">
					<img src="https://toddle.com.au/assets/images/email/question.png" alt="" class="reminder__question-img show-for-large">
				</columns>
			</row>
			
			<!-- -->
		</wrapper>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section">
		<wrapper class="section-padding">
			<h2 class="heading">
				Have you got back to…
			</h2>
			<spacer size="32"></spacer>
			<div class="enquiry-items">
				{{> enquiry-item}}
				{{> enquiry-item}}
				{{> enquiry-item}}
				{{> enquiry-item}}
				{{> enquiry-item}}
			</div>
			<spacer size="20"></spacer>
		</wrapper>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section faq-section">
		<wrapper class="section-padding">
			<row>
				<columns large="6">
					<center>
						<h2 class="heading text-center">
							What’s Toddle?
						</h2>
						<spacer size="20"></spacer>
						<p class="text-center faq-section__description">
							We are the most comprehensive centre-based childcare finder in Australia on a mission to make parents’ lives easier.
						</p>
						<spacer size="20"></spacer>
						<button class="button rounded large" href="//toddle.com.au/about" target="_blank">
							Learn more about Toddle
						</button>
					</center>
				</columns>
				<columns large="6">
					<center>
						<h2 class="heading text-center">
							Any questions?
						</h2>
						<spacer size="20"></spacer>
						<p class="text-center faq-section__description">
							Learn how we can help your centre or find out more about enquiries.
						</p>
						<spacer size="20"></spacer>
						<button class="button rounded large" href="mailto:hello@toddle.com.au" target="_blank">
							<img src="https://toddle.com.au/assets/images/email/envelope.png" alt="" class="button__image" style="margin-top: 2px;">
							Drop us a line
						</button>
					</center>
				</columns>
			</row>
		</wrapper>
	</wrapper>

	<wrapper>
		<spacer size="26"></spacer>
		<center>
			<p class="text-center" style="color: #818181;">
				Sent with love from Team Toddle. 
			</p>
			<a href="//toddle.com.au/unsubscribe/reminders/eb727e3f-81b4-4d28-877b-422456850388" style="color: #004a5d;">
				Don’t want to receive reminder emails?
			</a>
		</center>

	</wrapper>
</container>

<spacer size="100"></spacer>
