---
subject: Your monthly performance report from Toddle / Want to know how your Toddle listing did this month?
---
<spacer size="40"></spacer>

<container>

		<a href="//toddle.com.au" target="_blank">
		  <center>
				<img class="logo" src="https://toddle.com.au/assets/images/email/logo.png" width="99" height="62" alt="">
			</center>
		</a>
  <spacer size="40"></spacer>

	<wrapper class="section section--primary">
    <img src="https://toddle.com.au/assets/images/email/report-top.jpg" width="100%" height="auto" alt="">
		
    <wrapper class="section-padding">
			<spacer size="20"></spacer>

			<h1 class="heading reminder__heading" style="max-width: 650px;">
				Here is your monthly performance report for [A VERY VERY LONG CENTRE NAME]
			</h1>

			<spacer size="20"></spacer>

			<row>
				<columns large="3">
				
				</columns>
				<columns large="6">
					<spacer size="6"></spacer>
					<p class="description reminder__description centred">
						People are looking at your listing!
						We’ve put together a monthly report to show you how your page is doing.
					</p>
					<spacer size="40"></spacer>
					<center>
						<button class="button rounded large white" href="#" target="_blank">
							View your report
						</button>
					</center>
				</columns>
				<columns large="3">
					<img src="https://toddle.com.au/assets/images/email/search-primary.png" width="176px" height="auto" alt="" class="show-for-large" style="padding-left: 26px; width: 176px;">
				</columns>
			</row>


			<spacer size="20"></spacer>
		</wrapper>
	</wrapper>

	<spacer size="26"></spacer>

	<wrapper class="section section--yellow">
		<wrapper class="section-padding">
			<h2 class="heading report__heading report__cat-heading">
				Making heads or tails <br />
				of your centre performance
			</h2>
			<center>
				<p class="text-center" style="max-width: 428px;">
					We capture many aspects of visitors’ behaviour when they view 
					<a href="//toddle.com.au/centres/" target="_blank" style="font-weight: 600;">your page</a>, 
					including the number of total views and enquiries they send to your centre 
					or how often they look for your centre’s phone number. 
				</p>
				<spacer size="52"></spacer>
				<button class="button rounded white large" href="//toddle.com.au/centres/" target="_blank">
					View your centre page on Toddle
				</button>
				<spacer size="26"></spacer>
			</center>
		</wrapper>
	</wrapper>

	<spacer size="26"></spacer>

	<wrapper class="section section--dark-blue">
		<row>
			<columns large="6">
				<wrapper class="section-padding">
					<spacer size="16"></spacer>
					<h2 class="heading report__heading text-left">
						Become <br /> the centre <br /> of attention
					</h2>
					<p>
						Want to boost your performance? 
						Get in touch with our team to find out how we can help.
					</p>
					<spacer size="40"></spacer>
					<button class="button rounded white large" href="mailto:hello@toddle.com.au" target="_blank">
						<img src="https://toddle.com.au/assets/images/email/envelope.png" alt="" class="button__image" style="margin-top: 2px;">
						Speak to our team
					</button>
					<spacer size="16"></spacer>
				</wrapper>
			</columns>
			<columns large="6">
    		<img src="https://toddle.com.au/assets/images/email/report-bottom.jpg" width="100%" height="auto" alt="" class="show-for-large">
			</columns>
		</row>

	</wrapper>

	<spacer size="26"></spacer>

	<wrapper class="section section--blue">
		<wrapper class="section-padding">
			<spacer size="26"></spacer>
			<center>
				<h2 class="heading report__heading">
					Who is Toddle?
				</h2>
				<p class="text-center" style="max-width: 540px">
					We are the most comprehensive centre-based childcare finder in 
					Australia on a mission to make parents’ lives easier.
				</p>
				<spacer size="40"></spacer>
				<button class="button rounded white large" href="//toddle.com.au" target="_blank">
					Learn more about Toddle
				</button>
			</center>
			<spacer size="26"></spacer>
		</wrapper>
	</wrapper>

	<spacer size="30"></spacer>

	<wrapper>
		<spacer size="26"></spacer>
		<center>
			<p class="text-center" style="color: #818181;">
				Sent with love from Team Toddle. 
			</p>
			<a href="mailto:hello@toddle.com.au" style="color: #004a5d;">
				hello@toddle.com.au
			</a>
		</center>
	</wrapper>

</container>

<spacer size="100"></spacer>
