<spacer size="70"></spacer>

<container>

	<wrapper class="section">
		<row>
			<columns large="7">
				<wrapper class="section-padding">
					<a href="//toddle.com.au" target="_blank">
						<img class="logo" src="https://toddle.com.au/assets/images/email/logo.png" width="99" height="62" alt="">
					</a>
					<spacer size="26"></spacer>
					<h2 class="heading">
						Thank you for using our subsidy calculator!
					</h2>
					<spacer size="10"></spacer>
				</wrapper>
			</columns>
			<columns class="px-0 py-0 show-for-large" large="6">
				<img class="float-right" src="https://toddle.com.au/assets/images/email/subsidy-calculator.jpg" width="443" height="303" alt="">
			</columns>
		</row>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section section-padding">
		<h2 class="heading">
			Your child care subsidy results:
		</h2>

		<spacer size="20"></spacer>
		<p class="caption">
			Based on your details, your eligible child care subsidy is:
		</p>
		<spacer size="32"></spacer>

		<div class="details-grid">
			<row>
				<columns small="6">
					Annual ccs entitlement
				</columns>
				<columns small="6">
					$10,920
				</columns>
			</row>
			<row>
				<columns small="6">
					Weekly ccs entitlement
				</columns>
				<columns small="6">
					$10,920
				</columns>
			</row>
			<row class="details-row-last">
				<columns small="6">
					Weekly out of pocket child care fees
				</columns>
				<columns small="6">
					$10,920
				</columns>
			</row>
		</div>
		<spacer size="20"></spacer>
	</wrapper>

	<spacer size="20"></spacer>

	<wrapper class="section">
		<wrapper class="section-padding">
			<h2 class="heading text-center">
				Looking for child care near [POSTCODE]?
			</h2>
			<spacer size="20"></spacer>

			<row class="centre-cards-row">
				<columns large="6" style="padding-left:25px;padding-right:25px;" class="text-center">
					<center>
						{{> centre-card}}
					</center>
				</columns>
				<columns large="6" style="padding-left:25px;padding-right:25px;" class="text-center">
					<center>
						{{> centre-card}}
					</center>
				</columns>
			</row>

			<spacer size="50"></spacer>

			<center>
				<button class="button rounded large" href="#" target="_blank">
					Find child care near you
				</button>
			</center>
		</wrapper>

		<wrapper class="notification notification--yellow"></wrapper>
	</wrapper>

	{{> footer}}

</container>

<spacer size="60"></spacer>
