<a href="#" target="_blank" class="article-card article-card--blog">
	<img class="article-card__image" src="https://toddle.com.au/assets/images/homeInfo.jpg" alt="" width="305px" height="203px">
	<div class="article-card__meta">
		<div class="article-card__icon-box">
			<center>
				<img src="https://fe-staging.toddle.com.au/assets/images/email/blog.png" alt="">
			</center>
		</div>
		<h4 class="article-card__heading">
			8 simple sensory play ideas
		</h4>
		<p class="article-card__blurb">
			If you want to encourage your child’s brain development and
			help them form new neural pathways – sensory play can help.
		</p>
		<row>
			<columns large="6">
				<p class="article-card__date">
					27 NOVEMBER 2019
				</p>
			</columns>
			<columns large="6" class="text-right">
				<p class="article-card__action">
					Read more <span class="arrow">›</span>
				</p>
			</columns>
		</row>
	</div>
</div>
