<div class="centre-card">
	<a href="#" target="_blank" class="centre-card__link">
		<img class="centre-card__image" src="https://toddle.com.au/assets/images/email/subsidy-calculator.jpg" alt="" width="305px" height="203px">
		<div class="centre-card__meta">
			<h4 class="centre-card__heading">
				SDN Ultimo Children’s Education and Care Centre
			</h4>
			<p class="centre-card__address">
				203 Darley Road, Randwick
			</p>
			<div class="centre-card__rating">
				<div class="centre-card__stars">
					<img src="https://toddle.com.au/assets/images/email/star.png" alt="" width="19px" height="18px">
					<img src="https://toddle.com.au/assets/images/email/star.png" alt="" width="19px" height="18px">
					<img src="https://toddle.com.au/assets/images/email/star.png" alt="" width="19px" height="18px">
					<img src="https://toddle.com.au/assets/images/email/star-half.png" alt="" width="19px" height="18px">
					<img src="https://toddle.com.au/assets/images/email/star-empty.png" alt="" width="19px" height="18px">
				</div>
				<span class="centre-card__rating-number">
					44
				</span>
			</div>
		</div>
	</a>
	<div class="centre-card__action">
		<button class="button secondary white expanded rounded large" href="/" target="_blank">
			Enquire now
		</button>
	</div>
</div>
