    <div class="details">
      <h3 class="details-heading">
        Child 1 - Eleanor
      </h3>
      <div class="details-grid">
        <row>
          <columns small="6">
            Full name
          </columns>
          <columns small="6">
            Eleanor Hensby
          </columns>
        </row>
        <row>
          <columns small="6">
            DOB
          </columns>
          <columns small="6">
            09/05/2017
          </columns>
        </row>
        <row>
          <columns small="6">
            Start date
          </columns>
          <columns small="6">
            September 2019
          </columns>
        </row>
        <row class="details-row-last">
          <columns small="6">
            Attendance days
          </columns>
          <columns small="6">
            Tuesday, Wednesday, Friday
          </columns>
        </row>
      </div>
    </div>