<div class="enquiry-item">
	<h4 class="enquiry-item__heading">
		Robert Hensby
	</h4>
	<row>
		<columns large="8">
			<p>
				Child 1:
				<strong>Laura Hensby</strong>
			</p>
			<p>
				Start date:
				<strong>12.01.2020</strong>
			</p>
			<p>
				Attendance days:
				<strong>Tuesday, Wednesday, Friday</strong>
			</p>
			<spacer size="10"></spacing>
			<p>
				Child 1:
				<strong>Laura Hensby</strong>
			</p>
			<p>
				Start date:
				<strong>12.01.2020</strong>
			</p>
			<p>
				Attendance days:
				<strong>Tuesday, Wednesday, Friday</strong>
			</p>
			<spacer size="10"></spacing>
		</columns>
		<columns large="4">
			<button class="button rounded large" href="#" target="_blank">
				<img src="https://toddle.com.au/assets/images/email/reply.png" alt="" class="button__image">
				Reply to Robert
			</button>
		</columns>
	</row>
</div>
