<wrapper class="footer">
	<spacer size="24"></spacer>
	<div class="links-row">
		<a href="//toddle.com.au/about" target="_blank">About Toddle</a>
		<a href="//toddle.com.au/faq" target="_blank">FAQs</a>
		<a href="//toddle.com.au/privacy" target="_blank">Privacy Policy</a>
		<a href="//toddle.com.au/terms" target="_blank">Terms & Conditions</a>
		<a href="//toddle.com.au/contact" target="_blank">Contact Us
		</a>
	</div>
	<spacer size="30"></spacer>
	<div class="socials-row">
		<a href="//facebook.com/toddle.aus/" target="_blank">
			<img src="https://toddle.com.au/assets/images/email/facebook.png" alt="" width="50px" height="50px">
		</a>
		<a href="//instagram.com/toddle.aus/" target="_blank">
			<img src="https://toddle.com.au/assets/images/email/instagram.png" alt="" width="50px" height="50px">
		</a>
		<a href="mailto:hello@toddle.com.au" target="_blank">
			<img src="https://toddle.com.au/assets/images/email/mail.png" alt="" width="50px" height="50px">
		</a>
	</div>
	<spacer size="36"></spacer>

	<p class="copyright">© 2020 Toddle</p>
</wrapper>
