
      <div class="details-grid">
        <row>
          <columns small="6">
            Parent / Guardian
          </columns>
          <columns small="6">
            Robert Hensby
          </columns>
        </row>
        <row>
          <columns small="6">
            Contact email address
          </columns>
          <columns small="6">
            robert.hensby@gmail.com
          </columns>
        </row>
        <row class="details-row-last">
          <columns small="6">
            Contact phone number
          </columns>
          <columns small="6">
            +61 456 68790
          </columns>
        </row>
      </div>
